<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Página não encontrada</title>
</head>
<body>
  <!-- header#cabecalho>nav.wrap-menu>ul.menu>li*5>a -->

  <img src="img/404.jpg" alt="Imagem do Lula 404">
</body>
</html>